.dashboard {
    display: grid;
    grid-template-rows: 67px 1fr;
    height: 100vh;
}

.dashboard__main {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 67px 1fr;
}

.dashboard__content {
    padding: 32px 48px;
    overflow: auto;
    min-height: calc(100vh - 67px);
}
