.admin__navbar {
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.admin__navbar__start {
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.admin__navbar__logo {
    display: flex;
    align-items: center;

    p {
        margin-left: 8px;
        font-size: 32px;
        font-weight: 600;
    }
}
