.sidebar {
    padding: 0 16px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.sidebar__section {
    border-bottom: 2px solid #e0e0e3;
    padding: 16px 0;
}

.sidebar__link {
    color: #6b7280;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 6px 0;
    margin-top: 4px;

    a {
        margin-left: 8px;
    }

    span {
        margin-left: 8px;
    }
}

.sidebar__link__active {
    @apply text-indigo-500 bg-indigo-100 rounded-md;
}

.sidebar__link:hover {
    @apply text-indigo-500 bg-indigo-100;
    border-radius: 8px;
}
