$container-padding: 30px;
$container-width: calc(100vw - var(--container-padding) * 2);

body {
    background: var(--background);
    font-family: 'Inter', sans-serif;
}

.page__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .container__fluid {
        width: 100%;
        margin: 0 auto;
        padding: 0 14px;
    }

    .container {
        width: 65%;
        box-sizing: border-box;
        padding-left: calc(50% - $container-width / 2);
        padding-right: calc(50% - $container-width / 2);
        margin: 0 auto;
    }
}
