@tailwind base;
@tailwind components;
@tailwind utilities;

$breakpoint-laptop: 1538px;
$breakpoint-small-laptop: 1024px;
$breakpoint-small-screen: 961px;
$breakpoint-tablet: 769px;
$breakpoint-phone: 769px;

//modules
@import 'modules/alert';
@import 'modules/card';
@import 'modules/input';
@import 'modules/typo';
@import 'modules/breadcrumb';
@import 'modules/table';
@import 'modules/button';
@import 'home';

//tools
@import 'tools/flex';

//libs
@import 'libs/highlight';
@import 'libs/markdowneditor';

//Admin
@import 'admin/dashboard';
@import 'admin/navbar';
@import 'admin/sidebar';

// Icons
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';
