table {
    @apply min-w-full leading-normal;
}

thead {
    tr th {
        @apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider;
    }
}

tbody {
    tr td{
        @apply px-5 py-5 border-b border-gray-200 bg-white text-sm text-gray-900;
    }
}
